@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  padding: 2rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #b0d8da;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.wrapper {
  background-color: #fff;
  border-radius: 40px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 1.5rem;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a svg {
  margin: 0.8rem 0;
}

header .exit-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .exit-background p {
  color: #5dc6c9;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-right: 6px;
}

header .exit-background .exit-icon {
  background-color: #5dc6c9;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50px;
}

.test4 svg {
  border-radius: 50%;
}

.test4 {
  text-decoration: none;
}

.test4 p {
  color: #000;
}

.info-section {
  padding: 2rem 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 35%;
  position: relative;
  background-color: #5dc6c91a;
}

.info-section .header {
  margin-bottom: 3rem;
}

.info-section .balans {
  background-color: #5dc6c9;
  padding: 1.2rem 1rem;
  border-radius: 24px;
  -webkit-box-shadow: 0px 3px 75px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 75px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
}

.info-section .balans h3 {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 2rem;
}

.info-section .wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-section .wallet .money {
  margin-left: 1rem;
}

.info-section .wallet .money p {
  color: #fff;
}

.info-section .wallet .money .p1 {
  font-size: 25px;
  font-weight: 700;
}

.info-section .wallet .money .p2 {
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
}

.info-section .vector {
  position: absolute;
  top: 14.6%;
  right: 3%;
  border-radius: 24px;
}

.info-section .lastProcess {
  font-size: 16px;
  color: #5dc6c9;
  font-weight: 500;
}

.info-section hr {
  margin: 0.5rem 0 1rem 0;
  height: 2px;
  background-color: #e3e3e3;
  border: none;
}

.info-section .process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-section .process .process1 {
  margin-left: -1.5rem;
}

.info-section .process .process2 {
  margin-left: -6rem;
}

.info-section .process .green {
  color: green;
}

.info-section .process .red {
  color: red;
}

.info-section .process h4 {
  font-size: 12px;
  font-weight: 500;
}

.info-section .process p {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}

.info-section h2 {
  font-size: 15px;
  margin-left: 2rem;
}

section {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 38px;
}

section .payments-card {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

section .payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .payments h3 {
  font-size: 23px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
}

section .payments p {
  padding: 6px 14px;
  border-radius: 50%;
  background-color: #5dc6c9;
  color: #fff;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-bottom: 6px;
}

section .payments-hr {
  margin-bottom: 1.5rem;
  height: 2px;
  background-color: #e3e3e3;
  border: none;
}

section .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

section .grid-container .wrapper-grid {
  background-color: #e2ecf3;
  width: 100%;
  max-width: 80px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
}

section .grid-container .wrapper-grid p {
  margin-top: 13px;
  color: #452f02;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

section .payments-container {
  width: 50%;
}

section .grid-item {
  cursor: pointer;
  padding: 15px 5px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 60px;
}

section .digital-card {
  width: 50%;
  margin-left: 30px;
}

section .digital-card h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 20px;
}

section .digital-card .card {
  padding: 10px 16px;
  color: #fff;
  border-radius: 20px;
}

section .digital-card .card .currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

section .digital-card .card .currency .curr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .digital-card .card .currency .curr p {
  font-size: 19px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 0 6px;
}

section .digital-card .card .currency .curr h2 {
  margin-left: 11px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

section .digital-card .card .card-number h1 {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

section .digital-card .card .card-owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .digital-card .card .owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
}

section .digital-card .card .owner p {
  font-size: 8px;
  font-weight: 400;
  text-transform: uppercase;
}

section .digital-card .card .owner h4 {
  margin-left: 5px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.card {
  background-color: #9158ff;
}

.percentages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.percentages .percentage-block {
  background-color: #e2ecf3;
  width: 100%;
  max-width: 210px;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.percentages .percentage-block h3 {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 21px 18px;
}

.percentages .percentage-block .money1 {
  position: absolute;
  top: 6%;
  left: 15%;
}

.percentages .percentage-block .money2 {
  position: absolute;
  top: 3%;
  left: 8%;
}

.percentages .percentage-block .money3 {
  position: absolute;
  top: 0;
  left: 0;
}

.percentages .block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 21px 18px;
}

.percentages .block2 h2 {
  color: #5dc6c9;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 45px;
}

.percentages .block3 h2 {
  margin-top: auto;
  margin-bottom: 1rem;
  padding: 21px 18px;
  color: #429c9e;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
}

.percentages .block3 h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.percentages .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #5dc6c9;
}

.percentages .person .person-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 33%;
}

.percentages .person .person-text h3 {
  font-size: 60px;
}

.percentages .person .person-text h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 1.2rem;
  color: #52a7a9;
}

.percentages .person img {
  margin-top: 15px;
}
/*# sourceMappingURL=main.css.map */