@import 'config';
.right {
    width: 60%;
}

// Styles of the left side
.left {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    position: relative;
    background-color: $bg-light-blue;
    color: #fff;
    width: 40%;
    padding: 3rem 0 0 2rem;

    h1 {
        font-size: 50px;
        font-family: $ff-jakarta;
        font-weight: 700;
        height: 60px;
    }
    
    p {
        font-family: $ff-jakarta;
        font-size: 50px;
    }

    img {
        max-width: 100%;
        width: 370px;
        // height="370px"
    }
}

.abstraction {
    position: absolute;
    top: 13rem;
    right: -4rem;
}

// Styles of the right side

.right {
    // display: flex;
    // flex-direction: column;
    padding: 3.5rem 5rem;
    font-family: $ff-jakarta;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #fff;
}


.language-selector {
    text-align: right;
    padding-bottom: 3rem;
    border: none;

    select {
        border: none;
        max-width: 115px;
        color: $light-gray;
    }
}

.right-container {
 
    h2 {
        font-size: 22px;
    }

    p {
        padding-bottom: 1.5rem;
        color: $light-gray;
    }

    form {
        input[type="email"] {
            font-family: $ff-inter; /* Replace with your preferred font family */
          }

          input {
            padding: 5px 5px;
        }
          
        label {
            color: $light-gray;
            padding: 0px 7px;
        }

        .contacts {
            margin: 4px auto;
            max-width: 300px;
            width: 100%;
            border: 2px solid $border-color;
            border-radius: 5px;
        }

        #checkbox {
            font-size: 14px;
        }

        .submit {
            font-family: $ff-jakarta;
        }

       
    }

    a {
        text-decoration: none;
    }
 
    .button {
            margin-top: 1.5rem;
            @include button($soft-blue, #fff);
            display: inline-block;
            padding: 12px 125px;
            font-size: 14px;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            transition: .3s ease;
        }

     .button:hover {
        background-color: blue;
     }  
}

@media all and (max-width: 970px) {
    .left {
        h1 {
            font-size: 40px;
        }
        
        p {
            font-size: 40px;
        }
        img {
            max-width: 100%;
            width: 270px;
            height: 300px;
        }
    }
    .right-container {
 
        h2 {
            font-size: 16px;
        }
    
        p {
            font-size: 14px;
        }
        .button {
            padding: 12px 110px;
        }

    
}
}

// Start of the responsive

@media all and (max-width: 775px) {
    .left {
        h1 {
            font-size: 30px;
        }
        
        p {
            font-size: 30px;
        }
        img {
            max-width: 100%;
            width: 270px;
            height: 300px;
        }
    }
    .right-container {
 
        h2 {
            font-size: 11px;
        }
    
        p {
            font-size: 11px;
        }
        .button {
            padding: 12px 90px;
        }

    
}
}

@media all and (max-width:710px) {
    .right-container {
        .button {
            padding: 10px 70px;
            font-size: 12px;
        }
        p {
            padding-bottom: 0.5rem;
        }

        form {
            label {
                font-size: 12px;
            }

            #checkbox {
                font-size: 12px;
            }
        }        
        
    }
}

@media all and (max-width: 640px) {
    .left {
        h1 {
            font-size: 20px;
        }
        
        p {
            font-size: 20px;
        }
        img {
            max-width: 100%;
            width: 170px;
            height: 200px;
        }
    }

    select#languages {
        font-size: 13px; /* Change the font size to your desired value */
      }
    
      option {
        font-size: 14px; /* Change the font size of option tags to your desired value */
      }
    .right-container {
 
        h2 {
            font-size: 10px;
        }
    
        p {
            font-size: 10px;
        }
        .button {
            padding: 10px 30px;
        }

    
}
}

@media all and (max-width: 486px) {
    .left {
        h1 {
            font-size: 15px;
        }
        
        p {
            font-size: 15px;
        }
        img {
            max-width: 100%;
            width: 170px;
            height: 200px;
        }
    }

    select#languages {
        font-size: 9px; /* Change the font size to your desired value */
      }
    
      option {
        font-size: 9px; /* Change the font size of option tags to your desired value */
      }
    .right-container {
 
        h2 {
            font-size: 7px;
        }
    
        p {
            font-size: 7px;
        }
        .button {
            padding: 10px 30px;
            font-size: 6px;
        }
            p {
                padding-bottom: 0.5rem;
            }
    
            form {
                label {
                    font-size: 9px;
                }
    
                #checkbox {
                    font-size: 9px;
                }
            p {
                font-size: 8px;
            }
            #checkbox {
                font-size: 5.5px;
            }
        }
    
}
}